.corp-life__title, a, html,
body {
  color: #444444;
}

.solutions__nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(45, 54, 83);
  opacity: 0.6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Proxima Nova", sans-serif;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 320px;
  padding: 16px 15px 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 1024px) {
  html, body {
    font-size: 18px;
  }
  .container {
    max-width: 1250px;
    padding: 0;
  }
}
/* Header */
.header {
  padding-right: 5px;
}

.header__menu-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__menu-item:nth-child(2n+1) {
  padding-left: 5px;
}

.header__menu-item:nth-child(2n) {
  padding-left: 10px;
}

.header__menu-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.header__menu-link:hover {
  color: #8b8b8b;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

@media (min-width: 1024px) {
  .header {
    padding: 0;
  }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 85px;
    padding: 0 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__menu-list {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .header__menu-item:nth-child(2n+1),
.header__menu-item:nth-child(2n) {
    padding: 0;
  }
  .header__menu-link {
    font-size: 18px;
  }
}
/*Main*/
.main__content {
  max-width: 290px;
  max-height: 300px;
  background: url("../assets/main-bg.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 60px;
}

.main__text {
  padding: 40px 5px 96px 5px;
}

.main__title {
  max-width: 280px;
  padding: 0 20px 20px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
}

.main__button {
  background: #B01736;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  padding: 6.5px 25.5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 1024px) {
  .main__content {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
  }
  .main__text {
    padding: 140px 158px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__title {
    max-width: 709px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
  }
  .main__button {
    padding: 18px 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
  .main__button:hover {
    background: #D53152;
  }
}
/*About*/
.about {
  padding-bottom: 28px;
}

.about__title > span {
  color: #A30C33;
}

.about__title {
  padding: 24px 5px;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.about__numbers {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__numbers-item {
  text-align: center;
  padding-bottom: 24px;
}

.about__numbers-item:last-child {
  max-width: 180px;
}

.about__numbers-title {
  color: #A30C33;
  opacity: 0.95;
  font-weight: 600;
  font-size: 40px;
  line-height: 80%;
}

.about__numbers-title > span {
  padding-left: 4px;
}
.about__numbers-title > span:first-child {
  padding-right: 4px;
}

.about__numbers-subtitle {
  line-height: 150%;
}

@media (min-width: 1024px) {
  .about {
    padding-bottom: 100px;
  }
  .about__title {
    margin: 70px 100px;
    padding: 99px 110px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
  }
  .about__numbers {
    -webkit-column-gap: 170px;
       -moz-column-gap: 170px;
            column-gap: 170px;
    row-gap: 80px;
    padding: 0 180px;
  }
  .about__numbers-item {
    text-align: left;
    padding-bottom: 0;
  }
  .about__numbers-title {
    font-weight: 600;
    font-size: 80px;
    line-height: 80%;
  }
  .about__numbers-title > span {
    padding-left: 10px;
  }
  .about__numbers-title > span:first-child {
    padding-right: 10px;
  }
}
/*Map*/
.map__container {
  overflow-x: scroll;
}

.map__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.map__header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 95px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__title {
  padding-right: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

.map__arrow {
  cursor: pointer;
}

.map__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.map__nav-item {
  margin-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.map__nav-item:hover {
  color: #A30C33;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
.map__nav-item:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
}

.active {
  position: relative;
  color: #A30C33;
}
.active:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -20px;
  left: 0;
  background-color: #A30C33;
}

.map__img {
  max-width: 862px;
  height: 430px;
}

@media (min-width: 1024px) {
  .map__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .map__text {
    padding: 0;
  }
  .map__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
  }
  .map__nav-item {
    margin-left: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
  .map__nav-item:first-child {
    margin-left: 0;
  }
  .active:before {
    bottom: -29px;
  }
  .map__img {
    max-width: 100%;
    height: 100%;
    padding: 90px 30px 105px 30px;
  }
}
/*Mission*/
.mission__content {
  background: url("../assets/mission-right-pattern.svg") no-repeat center right, url("../assets/mission-left-pattern.svg") no-repeat center left, #A30C33;
  background-size: auto;
  row-gap: 10px;
  padding: 51px 5px 32px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mission__title {
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
}

.mission__subtitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

@media (min-width: 1024px) {
  .mission__content {
    row-gap: 40px;
    padding: 139px 72px 140px 72px;
    background-size: 30% 80%;
  }
  .mission__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
  }
  .mission__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
  }
}
/*Solutions*/
.solutions__container {
  padding: 50px 0;
}

.solutions__title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
}

.solutions__nav {
  padding: 15px 7px 0 3px;
}

.solutions__nav-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.solutions__nav-title {
  color: #FFFFFF;
  z-index: 100;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

.solutions__nav-subtitle {
  display: none;
}

.solutions__nav-arrow {
  z-index: 100;
}

.solutions__nav-item:nth-child(1) {
  background: url("../assets/solutions-solutions.jpg") top center;
  position: relative;
}

.solutions__nav-item:nth-child(2) {
  background: url("../assets/solutions-cyberprotection.jpg") top center;
  position: relative;
}

.solutions__nav-item:nth-child(3) {
  background: url("../assets/solutions-importsubstitution.jpg") top center;
  position: relative;
}

.solutions__nav-item:nth-child(4) {
  background: url("../assets/solutions-clouddesicions.jpg") top center;
  position: relative;
}

.solutions__nav-item:nth-child(5) {
  background: url("../assets/solutions-digitaltransformation.jpg") top center;
  position: relative;
}

.solutions__nav-item:nth-child(6) {
  background: url("../assets/solutions-tecnicalsupport.jpg") top center;
  position: relative;
}

/*Benefits*/
.benefits__title {
  text-align: center;
  padding: 24px 0 40px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 25px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 0 20px 24px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.benefits__list-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__list-circle {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
}

.benefits__list-title {
  max-width: 110px;
  line-height: 110%;
  padding-top: 10px;
}

.benefits-extra__title {
  text-align: center;
  padding: 24px 0 25px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
}

.benefits-extra__subtitle {
  display: block;
  color: #B01736;
  padding-top: 4px;
}

/*Corp-life*/
.corp-life {
  padding: 50px 0;
}

.corp-life__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
}

.swiper {
  margin: 15px 5px 0 5px;
}