%text-color {
    color: #444444;
}

%bg-shadow {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(45, 54, 83, 1);
    opacity: 0.6;
}

@mixin title($w, $s, $h) {
    font-weight: $w;
    font-size: $s;
    line-height: $h;
}

@mixin bg-image($url) {
    background: $url top center;
    position: relative;
}

@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Proxima Nova', sans-serif;
    background-color: #FFFFFF;
    @extend %text-color;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
    @extend %text-color;
}

.container {
    width: 100%;
    max-width: 320px;
    padding: 16px 15px 0 15px;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 1024px) {
    html, body {
        font-size: 18px;
    }
    .container {
        max-width: 1250px;
        padding: 0;
    }
}

/* Header */
.header {
    padding-right: 5px;
}

.header__menu-list {
    flex-wrap: wrap;
    padding-top: 11px;
    padding-bottom: 16px;
    @include flex(row);
}

.header__menu-item:nth-child(2n+1){
    padding-left: 5px;
}

.header__menu-item:nth-child(2n){
    padding-left: 10px;
}

.header__menu-link {
    @include title(600, 14px, 16px);
    &:hover {
        color: #8b8b8b;
        transition: color 0.15s;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0;
    }

    .header__container {
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding: 0 70px;
        @include flex(row);
    }

    .header__menu-list {
        @include title(600, 18px, 20px);
        column-gap: 20px;
    }

    .header__menu-item:nth-child(2n+1),
    .header__menu-item:nth-child(2n) {
        padding: 0;
    }

    .header__menu-link {
        font-size: 18px;
    }
}

/*Main*/
.main__content {
    max-width: 290px;
    max-height: 300px;
    background: url("../assets/main-bg.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 60px;
}

.main__text {
    padding: 40px 5px 96px 5px;
}

.main__title {
    max-width: 280px;
    padding: 0 20px 20px 0;
    @include title(600, 28px, 100%);
}

.main__button {
    background: #B01736;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    padding: 6.5px 25.5px;
    cursor: pointer;
    @include title(600, 16px, 19px);
}

@media (min-width: 1024px) {
    .main__content {
        max-width: 100%;
        max-height: 100%;
        background-size: contain;
    }

    .main__text {
        padding: 140px 158px;
        align-items: center;
    }

    .main__title {
        max-width: 709px;
        margin-bottom: 60px;
        @include title(600, 56px, 100%);
    }

    .main__button {
        padding: 18px 28px;
        @include title(600, 18px, 20px);
        &:hover {
            background: #D53152;
        }
    }
}

/*About*/
.about {
    padding-bottom: 28px;
}

.about__title > span {
    color: #A30C33;
}

.about__title {
    padding: 24px 5px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
    @include title(600, 16px, 120%);
}

.about__numbers {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    @include flex(row);
}

.about__numbers-item {
    text-align: center;
    padding-bottom: 24px;
}

.about__numbers-item:last-child {
    max-width: 180px;
}

.about__numbers-title {
    color: #A30C33;
    opacity: 0.95;
    @include title(600, 40px, 80%);
}

.about__numbers-title > span {
    padding-left: 4px;
    &:first-child {
        padding-right: 4px;
    }
}

.about__numbers-subtitle {
    line-height: 150%;
}

@media (min-width: 1024px) {
    .about {
        padding-bottom: 100px;
    }

    .about__title {
        margin: 70px 100px;
        padding: 99px 110px;
        @include title(600, 32px, 120%);
    }

    .about__numbers {
        column-gap: 170px;
        row-gap: 80px;
        padding: 0 180px;
    }

    .about__numbers-item {
        text-align: left;
        padding-bottom: 0;
    }

    .about__numbers-title {
        @include title(600, 80px, 80%);
    }

    .about__numbers-title > span {
        padding-left: 10px;
        &:first-child {
            padding-right: 10px;
        }
    }
}

/*Map*/
.map__container {
    overflow-x: scroll;
}

.map__container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.map__header {
    justify-content: center;
    row-gap: 20px;
    width: fit-content;
    height: 95px;
    box-shadow: 0 0 40px rgb(0 0 0 / 6%);
    @include flex(column);
}

.map__text {
    display: flex;
    align-items: center;
}

.map__title {
    padding-right: 6px;
    @include title(600, 20px, 100%);
}

.map__arrow {
    cursor: pointer;
}

.map__nav {
    display: flex;
    align-items: center;
    width: max-content;
}

.map__nav-item {
    margin-left: 16px;
    @include title(600, 14px, 16px);
    &:hover {
        color: #A30C33;
        transition: color 0.15s;
    }
    &:first-child {
        align-items: center;
        margin-left: 0;
    }
}

.active {
    position: relative;
    color: #A30C33;
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -20px;
        left: 0;
        background-color: #A30C33;
    }
}

.map__img {
    max-width: 862px;
    height: 430px;
}

@media (min-width: 1024px) {
    .map__header {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 70px;
        @include flex(row);
    }

    .map__text {
        padding: 0;
    }

    .map__title {
        @include title(600, 24px, 100%);
    }

    .map__nav-item {
        margin-left: 30px;
        @include title(600, 18px, 20px);
        &:first-child {
            margin-left: 0;
        }
    }

    .active {
        &:before {
            bottom: -29px;
        }
    }

    .map__img {
        max-width: 100%;
        height: 100%;
        padding: 90px 30px 105px 30px;
    }
}

/*Mission*/
.mission__container {
    background:
        url("../assets/mission-right-pattern.svg") no-repeat center right,
        url("../assets/mission-left-pattern.svg") no-repeat center left,
        #A30C33;
}

.mission__title {
    text-align: center;
    color: #FFFFFF;
    padding-top: 32px;
    @include title(600, 28px, 100%);
}

.mission__subtitle {
    text-align: center;
    color: #FFFFFF;
    padding: 10px 5px 32px 5px;
    @include  title(0,16px, 130%);
}

/*Solutions*/
.solutions__container {
    padding: 50px 0;
}

.solutions__title {
    text-align: center;
    @include title(600, 28px, 100%);
}

.solutions__nav {
    padding: 15px 7px 0 3px;
}

.solutions__nav-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.solutions__nav-item:before {
    @extend %bg-shadow;
}

.solutions__nav-title {
    color: #FFFFFF;
    z-index: 100;
    @include title(600, 20px, 100%);
}

.solutions__nav-subtitle {
    display: none;
}

.solutions__nav-arrow {
    z-index: 100;
}

.solutions__nav-item:nth-child(1) {
    @include bg-image(url("../assets/solutions-solutions.jpg"));
}

.solutions__nav-item:nth-child(2) {
    @include bg-image(url("../assets/solutions-cyberprotection.jpg"));
}

.solutions__nav-item:nth-child(3) {
    @include bg-image(url("../assets/solutions-importsubstitution.jpg"));
}

.solutions__nav-item:nth-child(4) {
    @include bg-image(url("../assets/solutions-clouddesicions.jpg"));
}

.solutions__nav-item:nth-child(5) {
    @include bg-image(url("../assets/solutions-digitaltransformation.jpg"));
}

.solutions__nav-item:nth-child(6) {
    @include bg-image(url("../assets/solutions-tecnicalsupport.jpg"));
}

/*Benefits*/
.benefits__title {
    text-align: center;
    padding: 24px 0 40px 0;
    @include  title(600, 28px, 100%);
}

.benefits__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 30px;
    padding: 0 20px 24px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.benefits__list-item {
    align-items: center;
    text-align: center;
    @include flex(column);
}

.benefits__list-circle {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 50%;
}

.benefits__list-title {
    max-width: 110px;
    line-height: 110%;
    padding-top: 10px;
}

.benefits-extra__title {
    text-align: center;
    padding: 24px 0 25px 0;
    @include title(600, 22px, 120%);
}

.benefits-extra__subtitle {
    display: block;
    color: #B01736;
    padding-top: 4px;
}

/*Corp-life*/
.corp-life {
    padding: 50px 0;
}

.corp-life__title {
    @include title(600, 28px, 100%);
    @extend %text-color;
}

.swiper {
    margin: 15px 5px 0 5px;
}
