%text-color {
    color: #444444;
}

%bg-shadow {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(45, 54, 83, 1);
    opacity: 0.6;
}

%pattern {
    content: '';
    background:  url("../assets/mission-pattern.svg") no-repeat center left;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 100;
}

@mixin title($w, $s, $h) {
    font-weight: $w;
    font-size: $s;
    line-height: $h;
}

@mixin bg-image($url) {
    background: $url top center;
    position: relative;
}

@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
}

@mixin box-shadow($px, $opacity) {
    box-shadow: 0 0 $px rgba(0, 0, 0, $opacity);
}

@mixin line($left) {
    content: "";
    position: absolute;
    width: 99.5%;
    height: 1px;
    bottom: 0;
    left: $left;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.1;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Proxima Nova', sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    @extend %text-color;
}

a {
    text-decoration: none;
    cursor: pointer;
    @extend %text-color;
}

.container {
    width: 100%;
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 1024px) {
    html, body {
        font-size: 18px;
    }
    .container {
        max-width: 1250px;
        padding: 0;
    }
}

/* Header */
.header {
    padding-right: 5px;
}

.header__content {
    padding: 16px 0 16px 5px;
}

.header__menu-list {
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
    padding-top: 16px;
    @include flex(row);
}

.header__menu-link {
    @include title(600, 14px, 16px);

    &:hover {
        color: #8b8b8b;
        transition: color 0.15s;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0;
    }

    .header__content {
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding: 0 70px;
        @include flex(row);
    }

    .header__menu-list {
        column-gap: 20px;
        @include title(600, 18px, 20px);
    }

    .header__menu-item {
        &:nth-child(2n+1),
        &:nth-child(2n) {
            padding: 0;
        }
    }

    .header__menu-link {
        @include title(600, 18px, 20px);
    }
}

/*Main*/
.main__content {
    max-width: 290px;
    max-height: 300px;
    background: url("../assets/main-bg.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 60px;
}

.main__text {
    padding: 40px 5px 96px 5px;
}

.main__title {
    max-width: 280px;
    padding: 0 20px 20px 0;
    @include title(600, 28px, 28px);
}

.main__button {
    background: #B01736;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    padding: 6.5px 25.5px;
    cursor: pointer;
    @include title(600, 16px, 19px);
}

@media (min-width: 1024px) {
    .main__content {
        max-width: 100%;
        max-height: 100%;
        background-size: contain;
    }

    .main__text {
        align-items: center;
        padding: 140px 158px;
    }

    .main__title {
        max-width: 709px;
        margin-bottom: 60px;
        @include title(600, 56px, 56px);
    }

    .main__button {
        padding: 18px 28px;
        @include title(600, 18px, 20px);

        &:hover {
            background: #D53152;
        }
    }
}

/*About*/
.about {
    padding-bottom: 28px;
}

.about__title > span {
    color: #A30C33;
}

.about__title {
    padding: 24px 5px;
    text-align: center;
    background: #FFFFFF;
    @include title(600, 16px, 19px);
    @include box-shadow(16px, 0.08);
}

.about__numbers {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    @include flex(row);
}

.about__numbers-item {
    text-align: center;
    padding-bottom: 24px;
}

.about__numbers-item:last-child {
    max-width: 180px;
}

.about__numbers-title {
    color: #A30C33;
    opacity: 0.95;
    @include title(600, 40px, 32px);
}

.about__numbers-title > span {
    padding-left: 4px;

    &:first-child {
        padding-right: 4px;
    }
}

.about__numbers-subtitle {
    @include title(400, 16px, 19px);
}

@media (min-width: 1024px) {
    .about {
        padding-bottom: 100px;
    }

    .about__title {
        margin: 70px 100px;
        padding: 99px 110px;
        @include title(600, 32px, 38px);
    }

    .about__numbers {
        column-gap: 170px;
        row-gap: 80px;
        padding: 0 180px;
    }

    .about__numbers-item {
        text-align: left;
        padding-bottom: 0;
    }

    .about__numbers-title {
        @include title(600, 80px, 64px);
    }

    .about__numbers-title > span {
        padding-left: 10px;

        &:first-child {
            padding-right: 10px;
        }
    }
}

/*Map*/
.map__container {
    overflow-x: scroll;
}

.map__container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.map__header {
    justify-content: center;
    row-gap: 20px;
    width: fit-content;
    height: 95px;
    padding: 0 5px;
    @include flex(column);
    @include box-shadow(40px, 6%);
}

.map__text {
    align-items: center;
    column-gap: 6px;
    @include flex(row);
}

.map__title {
    @include title(600, 20px, 20px);
}

.map__arrow {
    cursor: pointer;
}

.map__nav {
    align-items: center;
    width: max-content;
    @include flex(row);
}

.map__nav-item {
    margin-left: 16px;
    @include title(600, 14px, 16px);

    &:hover {
        color: #A30C33;
        transition: color 0.15s;
    }

    &:first-child {
        align-items: center;
        margin-left: 0;
    }
}

.active {
    position: relative;
    color: #A30C33;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -20px;
        left: 0;
        background-color: #A30C33;
    }
}

.map__img {
    max-width: 862px;
    height: 430px;
}

@media (min-width: 1024px) {
    .map__header {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 70px;
        @include flex(row);
    }

    .map__text {
        column-gap: 12px;
        padding: 0;
    }

    .map__title {
        @include title(600, 24px, 24px);
    }

    .map__nav-item {
        margin-left: 30px;
        @include title(600, 18px, 20px);

        &:first-child {
            margin-left: 0;
        }
    }

    .active {
        &:before {
            bottom: -29px;
        }
    }

    .map__img {
        max-width: 100%;
        height: 100%;
        padding: 90px 30px 105px 30px;
    }
}

/*Mission*/
.mission__content {
    position: relative;
    background: #A30C33;
    background-size: auto;
    row-gap: 10px;
    padding: 51px 5px 32px 5px;
    @include flex(column);

    &:before {
        @extend %pattern;
    }

    &:after {
        transform: rotate(180deg);
        @extend %pattern;
    }
}

.mission__title {
    text-align: center;
    color: #FFFFFF;
    @include title(600, 28px, 28px);
}

.mission__subtitle {
    text-align: center;
    color: #FFFFFF;
    @include title(400, 16px, 21px);
}

@media (min-width: 1024px) {
    .mission__content {
        row-gap: 40px;
        padding: 139px 72px 140px 72px;
        background-size: 30% 80%;

        &:before {
            background-size: 20%;
        }

        &:after {
            background-size: 20%;
        }
    }

    .mission__title {
        @include title(600, 56px, 56px);
    }

    .mission__subtitle {
        padding: 0 5px;
        @include title(400, 32px, 48px);
    }
}

/*Solutions*/
.solutions__container {
    padding: 50px 0;
}

.solutions__title {
    text-align: center;
    @include title(600, 28px, 28px);
}

.solutions__nav {
    padding: 15px 7px 0 3px;
}

.solutions__nav-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:before {
        @extend %bg-shadow;
    }

    &:nth-child(1) {
        @include bg-image(url("../assets/solutions-solutions.jpg"));
    }

    &:nth-child(2) {
        @include bg-image(url("../assets/solutions-cyberprotection.jpg"));
    }

    &:nth-child(3) {
        @include bg-image(url("../assets/solutions-importsubstitution.jpg"));
    }

    &:nth-child(4) {
        @include bg-image(url("../assets/solutions-clouddesicions.jpg"));
    }

    &:nth-child(5) {
        @include bg-image(url("../assets/solutions-digitaltransformation.jpg"));
    }

    &:nth-child(6) {
        @include bg-image(url("../assets/solutions-tecnicalsupport.jpg"));
    }
}

.solutions__nav-title {
    width: 225px;
    color: #FFFFFF;
    z-index: 100;
    @include title(600, 20px, 20px);
}

.solutions__nav-subtitle {
    display: none;
}

.solutions__nav-arrow {
    z-index: 100;
}

@media (min-width: 1024px) {
    .solutions__container {
        padding: 100px 0;
    }

    .solutions__title {
        padding-bottom: 55px;
        @include title(600, 56px, 56px);
    }

    .solutions__nav {
        display: grid;
        grid-template-columns: 615px 615px;
        column-gap: 20px;
        row-gap: 23px;
        padding: 0;
    }

    .solutions__nav-item {
        height: 260px;
        margin: 0;
        padding: 20px 28px;

        &:before {
            height: 80px;
            top: 69.5%;
            @extend %bg-shadow;
        }

        &:hover:before {
            height: 100%;
            top: 0;
            transition: all .2s;
        }
    }

    .solutions__nav-title {
        width: 320px;
        align-self: end;
        @include title(600, 24px, 24px);
    }

    .solutions__nav-subtitle {
        max-width: 480px;
        text-align: left;
        color: #FFFFFF;
        z-index: 100;
        @include title(400, 17px, 24px);
    }

    .solutions__nav-arrow {
        display: none;
    }

    .hover {
        justify-content: flex-start;
        row-gap: 20px;
        @include flex(column);
    }
}

/*Benefits*/
.benefits__container {
    padding: 24px 15px;
    @include box-shadow(16px, 0.06);
}

.benefits-reg__title {
    text-align: center;
    @include  title(600, 28px, 28px);
}

.benefits-reg__list,
.benefits-extra__list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 25px;
    @include flex(row);
}

.benefits-reg__list {
    position: relative;
    padding: 40px 20px 24px 20px;
    column-gap: 10px;

    &:before {
        @include line(0);
    }
}

.benefits-reg__list-item,
.benefits-extra__list-item {
    align-items: center;
    text-align: center;
    @include flex(column);
}

.benefits-reg__list-item {
    width: 120px;
}

.benefits-reg__list-circle,
.benefits-extra__list-circle {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 50%;
    @include flex(row);
}

.benefits-reg__list-title,
.benefits-extra__list-title {
    padding-top: 10px;
    @include title(400, 16px, 18px);
}

.benefits-extra__title {
    max-width: 80px;
    text-align: center;
    padding-top: 24px;
    @include title(600, 22px, 26px);
}

.benefits-extra__subtitle {
    display: block;
    color: #B01736;
    padding-top: 4px;
}

.benefits-extra__list {
    column-gap: 25px;
    padding: 25px 52.5px 0 52.5px;
}

.benefits-extra__list-item {
    width: 80px;
}

@media (min-width: 1024px) {
    .benefits__container {
        padding: 80px 30px;
    }

    .benefits-reg__title {
        @include title(600, 56px, 56px);
    }

    .benefits-reg__list {
        justify-content: space-between;
        column-gap: 17px;
        padding: 50px 110px 70px 110px;

        &:before {
            @include line(5px);
        }
    }

    .benefits-reg__list-item {
        width: 178px;
    }

    .benefits-reg__list-circle,
    .benefits-extra__list-circle {
        width: 110px;
        height: 110px;
    }

    .benefits-reg__list-title,
    .benefits-extra__list-title {
        @include title(400, 18px, 20px);
    }

    .benefits-reg__list-title {
        max-width: 100%;
    }

    .benefits-extra {
        padding-top: 70px;
    }

    .benefits-extra__title {
        padding: 0;
        @include title(600, 40px, 48px);
    }

    .benefits-extra__list {
        justify-content: center;
        column-gap: 80px;
        padding-top: 50px;
    }

    .benefits-extra__list-item {
        width: 110px;
    }
}

/*Corp-life*/
//.corp-life {
//    padding: 50px 0;
//}

.corp-life__title {
    //padding: 50px 0 80px 0;
    @include title(600, 28px, 28px);
    @extend %text-color;
}

.swiper {
    margin: 15px 5px 0 5px;
}

.swiper-pagination,
.swiper-button-prev,
.swiper-button-next,
.swiper-scrollbar {
    display: none;
}

@media (min-width: 1024px) {
    .corp-life__container {
        padding: 100px 0 102px 0;
    }

    .corp-life__content {
        margin: 0 70px;
    }

    .corp-life__title {
        @include title(600, 56px, 56px);
    }

    .swiper {
        margin: 50px 0 0 0;
    }

    .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        position: absolute;
        left: 100%;
        bottom: -40px;
        width: 100%;
        height: 6px;
        background-color: #A30C33;
        z-index: 100;
    }

    .swiper-pagination,
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-scrollbar {
        display: block;
    }
}
